@font-face {
  font-family: 'Open Sans Light Italic';
  font-display: swap;
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f3f8;
}

a {
  text-decoration: none;
  text-align: center;
  font-family: Open Sans Light Italic, Arial, sans-serif;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

.header-wrap {
  width: 100%;
  height: auto;
  background-color: #000000;
}

.header-menu {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr;
      grid-template: auto / 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu a {
  display: block;
  color: #ffffff;
  padding: 15px 0px;
}

.header-menu a:hover {
  text-shadow: 2px 2px 5px #ffffff;
}

section {
  max-width: 1200px;
  height: auto;
  margin: 0px auto;
}

.container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.pagination {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 190px))[3];
      grid-template-columns: repeat(3, minmax(60px, 190px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  display: inline-block;
  font-family: Open Sans Light Italic, Arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin: 0px 3px;
  padding: 13px 28px;
  border: 1px solid #000000;
  border-radius: 5px/4px;
  cursor: pointer;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.pagination__item-active {
  border-color: red;
}

.pagination__item:hover {
  border-color: green;
}

.pagination__sort-button {
  font-family: Open Sans Light Italic, Arial, sans-serif;
  font-size: 1.1em;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  background-color: #f4f3f8;
  cursor: pointer;
  padding: 8px 12px;
  -webkit-transition: border .3s ease, color .3s ease;
  transition: border .3s ease, color .3s ease;
}

.pagination__sort-button:hover {
  border-color: green;
  color: green;
}

.pagination-container {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.pagination-container table {
  background-color: #000000;
}

.pagination-container table tr td {
  padding: 5px 10px;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  font-family: Open Sans Light Italic, Arial, sans-serif;
}

.pagination-container table tr td:nth-last-child(1) {
  width: 250px;
}

.pagination-container table img {
  max-width: 250px;
  cursor: pointer;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal-container {
  position: relative;
  width: 80%;
  margin: 10% auto;
  background: #000;
  color: #ffffff;
}

.modal-container__close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.modal-content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.modal-content img {
  margin-top: 30px;
  max-width: 300px;
}

.modal-content__info h4 {
  font-size: 2em;
  font-family: Open Sans Light Italic, Arial, sans-serif;
  margin: 10px auto;
}

.modal-content__info p {
  font-size: 1.4em;
  text-align: center;
  margin: 5px auto;
}

.modal-content__info p:nth-last-child(1) {
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */